NEXT_PUBLIC_SUPABASE_URL=https://tsqjwdagtmofbhgjhgjgjgjgk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ922222222iJzdXBhYmFzZSIsInJlZiI6InRzcWp3ZGFndG1vZmJjcHJyYXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyOTc2NjEsImV4cCI6MjEwMTg3MzY2MX0.nYu70l5VcZqSHfbxzMoemHlB-gO8KO79tln4c6ZGoCU
PROJECT_VAULT_ENCRYPTION_KEY=mfclsıjlks-.lmjjmmnvjvnvnv-rferferf.efef.efefre.efef.
